<div class="container">
<h1> Best movies of all times</h1>

<%@lists.each do |list|%>
<%= list.name %>
 <p>
        <%= link_to "Show this list", list %>
        <%= cl_image_tag("owpyimwpe3stzz6we4alY", width: 400, height: 300, crop: :fill) %>
      </p>
<% end %>

<%= link_to "Create a list", new_list_path %>

<%= cl_image_tag("owpyimwpe3stzz6we4alY", width: 400, height: 300, crop: :fill) %>

</div>
